@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.authername{
  color: #1c0e5a;
  font-weight: bold;
}
.quotecard{
  box-shadow: 0 20px 25px -5px rgba(78, 56, 129, 0.247), 0 8px 10px -6px rgba(153, 81, 153, 0.281);
}
/* Example Tailwind Custom CSS */
.bg-blur {
  filter: blur(5px);
}


.bubble {
  position: absolute;
  bottom: -4rem;
  left: var(--position, 50%);
  width: var(--size, 4rem);
  height: var(--size, 4rem);
  background: radial-gradient(circle, rgba(237, 85, 101, 1) 0%, rgba(255, 200, 200, 0.8) 80%);
  border-radius: 50%;
  animation: bubble-size var(--time) ease-in infinite var(--delay),
    bubble-move var(--time) ease-in infinite var(--delay);
  transform: translate(-50%, 100%);
  filter: url("#blob");
}

@keyframes bubble-size {
  0%,
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes bubble-move {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}